body{
background: black;
color: aliceblue;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 17px;
align-self: center
}

.img-fluid {
    
    max-width: 100%;
    height: auto;
}